---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #000;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

h1 {
  text-align: center;
}

.image-items {
  margin: 20px 20px;
  display: inline-block;
}

.image-container {
  text-align: left;
}

p {
  color: white;
}

img{
  height: 320px;
  width: 320px;
  border-radius: 8px;
}

.introduction {
  border: 1px solid white; 
  border-radius: 8px;
}

.video-items {
  margin: 5px;
  display: inline-block; 
}

iframe {
  height: 350px;
  width: 350px;
  border-radius: 8px;
}

ul {
  text-align: center;
  white-space: nowrap;	
  list-style-type: none;
}

li {
  display: inline;	
  margin-right: 20px;
  margin-left: 20px;
}

header {
  background-image: -webkit-linear-gradient(#D84FF3,#3274E4); 
}

body {
  background-image: url("https://s-media-cache-ak0.pinimg.com/736x/82/90/aa/8290aa221a5e2e37814b5d49789d8da9.jpg"); 
}


// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
